@use "../../presets" as *;
@use "../../mixins" as *;

.desc-block {
  position: absolute;
  z-index: 2;
  right: 130px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 584px;
  height: 455px;
  padding: 68px;

  background-color: #ffffff;

  @include lg {
    position: sticky;
    right: 0;
  }
  @include md {
    width: 524px;
    height: 395px;
    padding: 38px;
  }
  @include sm {
    width: 100%;
    padding: 20px;

    text-align: center;
  }

  &__up-title {
    letter-spacing: 2.7625px;
    text-transform: uppercase;

    color: #99823d;

    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
  }
  &__title {
    margin-bottom: 30px;

    text-transform: capitalize;

    font-family: "Teko", sans-serif;
    @include adaptive_font(67, 45);
    font-weight: 400;
    line-height: 67px;

    @include sm {
      margin: 18px 0 10px 0;

      line-height: 35px;
    }
  }
  &__desc {
    color: #141414;

    @include adaptive_font(17, 15);
    font-weight: 400;
    line-height: 26px;
  }
  &__buttons {
    display: flex;

    gap: 15px;
    @include sm {
      flex-direction: column;

      gap: 0;
    }
  }
  &__btn {
    margin-top: 15px;
    padding: 25px 70px;

    @include adaptive_font(16, 14);
    text-decoration: none;

    color: #ffffff;

    @include sm {
      padding: 20px 60px;
    }
  }
}
