@use "../../presets" as *;
@use "../../mixins" as *;

.desc-block {
  position: absolute;
  z-index: 2;
  right: 130px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 584px;
  height: 455px;
  padding: 68px;

  background-color: #ffffff;

  @include lg {
    position: sticky;
    right: 0;
  }
  @include md {
    width: 524px;
    height: 395px;
    padding: 38px;
  }
  @include sm {
    width: 100%;
    padding: 20px;

    text-align: center;
  }

  &__up-title {
    letter-spacing: 2.7625px;
    text-transform: uppercase;

    color: #99823d;

    font-size: 11px;
    font-weight: 400;
    line-height: 17px;

    @include lg {
      text-align: center;
    }
  }
  &__title {
    margin-bottom: 30px;

    text-transform: capitalize;

    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 60px;

    @include adaptive_font(60, 42);
    @include lg {
      text-align: center;
    }
    @include sm {
      margin: 18px 0 10px 0;

      line-height: 45px;
    }
  }
  &__desc {
    color: #141414;

    font-weight: 400;
    line-height: 26px;

    @include adaptive_font(17, 15);
  }
  &__buttons {
    display: flex;
    margin-top: 10px;

    gap: 15px;

    @include sm {
      margin-top: 30px;
    }
  }
  &__btn {
    flex: 1 1 50%;
    text-align: center;
    transition: background-color 0.3s ease-in;
    text-decoration: none;
    @include adaptive_font(16, 14);
    padding: 25px 0;

    color: #ffffff;

    @include sm {
      padding: 20px 0;
      margin-bottom: 10px;
    }
  }
}
